<form nz-form [formGroup]="form" class="app-default">
  <nz-form-item>
    <nz-form-label nzFor="distance">
      Enter a distance to know, how many stops for resupply each Star Wars starships needs
    </nz-form-label>
    <nz-form-control nz-row>
      <div
        nz-col
        nzSm="10"
        nzMd="8"
        nzLg="6"
      >
        <nz-input-number
          formControlName="distance"
          [nzPlaceHolder]="'Distance in Megalights (MGLT)'"
          [nzMin]="1"
          [nzStep]="1"
          style="width: 100%;"
        >
        </nz-input-number>
      </div>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control>
      <button nz-button nzType="primary" (click)="findStopsRequired()">
        <i nz-icon nzType="rocket"></i>
        Submit
      </button>
    </nz-form-control>
  </nz-form-item>

  <nz-table #starships
            [nzData]="form.get('results').value"
            [nzFrontPagination]="false"
            (nzPageIndexChange)="onPageChanged($event)"
            [nzPageIndex]="pageIndex"
            [nzTotal]="form.get('count').value"
            [nzPageSize]="10"
            [nzHideOnSinglePage]="true"
  >
    <thead>
    <tr>
      <th>Name</th>
      <th>Stops required</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of starships.data">
      <td>{{ data.name }}</td>
      <td>
        <ng-container *ngIf="data.stopsRequired === null; else infoTemplate">
          Unknown
        </ng-container>
        <ng-template #infoTemplate>
          {{ data.stopsRequired }}
        </ng-template>
      </td>
    </tr>
    </tbody>
  </nz-table>
</form>
