<nz-layout>
  <nz-header style="padding: 0; height: 80px">
    <div class="banner">
      <img class="logo" src="/assets/img/star-wars-logo.png" alt="Star Wars Logo"/>
    </div>
  </nz-header>
  <nz-layout>
    <nz-content>
      <nz-tabset class="nz-tabset"
                 (nzSelectedIndexChange)="onChangeTab($event)"
                 [nzSelectedIndex]="tabSelected"
      >
        <nz-tab
          [nzTitle]="tab.name"
          *ngFor="let tab of tabs"
        >
          <ng-template nz-tab>
            <router-outlet></router-outlet>
          </ng-template>
        </nz-tab>
      </nz-tabset>
    </nz-content>
  </nz-layout>
  <nz-footer style="text-align: center">
    <h5>
      Created by
      <a href="https://github.com/FelipeCorso"
         target="_blank"
         style="color: rgba(0,0,0,.65);"
      >
        <i nz-icon nzType="github" nzTheme="outline"></i>
        Felipe Corso
      </a>
    </h5>

  </nz-footer>
</nz-layout>
